body {
  background-color: slategray;
}
#progress-bar {
  width: 60%;
  margin: 5px;
}

#budget {
  box-sizing: content-box;
  float: right;
  display: inline;
  width: 40%;
  height: 80%;
  border: solid black 2px;
  margin: auto;
  padding: 30px;
}