/* MAIN STYLES */
body {
  background-color: slategray;
}

/* PROGRESS BAR STYLES */
.progress {
  width: 60%;
  margin: 5px;
}
.twentyFive {
  width: 25%;
}
.fifty {
  width: 50%;
}
.seventyFive {
  width: 75%;
}
.oneHundred {
  width: 100%;
}

/* MOVIE ELEMENT STYLES */
.elements {
  float: left;
}

/* MOVIE BUDGET STYLES */
.green {
  color: green;
  font-size: 2em;
}

.red {
  color: red;
}

.budget {
  border: solid black 2px;
  background-color: whitesmoke;
}