/* MAIN STYLES */
body {
  background-color: slategray;
}

/* PROGRESS BAR STYLES */
#progress-bar {
  width: 60%;
  margin: 5px;
}

/* MOVIE ELEMENT STYLES */
.elements {
  float: left;
}

/* MOVIE BUDGET STYLES */
.green {
  color: green;
  font-size: 2em;
}

.budget {
  border: solid black 2px;
  background-color: whitesmoke;
}